@import url(https://fonts.googleapis.com/css?family=Michroma&display=swap);

body{
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #30b814 0%, #002401 100%);
}



.nav-link{
    color: rgb(166, 250, 166);
}

.navbar-nav .nav-link.active{
    color: rgb(255, 255, 255);
}
.navbar-brand img{
    width: 60px;

}
.navbar-toggler{
    background-color: rgb(47, 179, 47);
}

.sidebar {
    color: rgb(166, 250, 166);
    background-color: #468315;
   
}

.card{
    background-color: #82c04f;
    color: #468315;
}
.card a{
    text-decoration: none;
    color: #000000;
}
.slide-text,
.footer-text {
    color: #000000;
    margin: auto auto;
}

footer,
.btn-outline-primary {
    background-color: #a1d37b;
   

   
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
    

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}